<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="s" class="com.example.Student">
    <property name="name" value="sourabh"></property>
    <property name="city" value="Nagpur"></property>
    </bean>
   
    <bean id="s1" class="com.example.Student">
    <property name="name" value="shubham"></property>
    <property name="city" value="Nagpur"></property>
    </bean>

</beans>